body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#toosmall {
    display: none;
}

span {
  display: none;
}

.off {
    display: none;
}

span.on {
    display: inline;
}

.within {
    color: green;
}

#headshot {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    height: 200px;
    border-radius: 15px;
    width: 200px;
}

#sidenav {
    display: inline-block;
    width: 300px;
    float: right;
    height: 100vh;
    border-left: 4px gray;
}

#games{
    float: left;
    text-align: center;
}

a.hidden {
  display: none;
}

.container {
  margin: 20px auto;
  width: 1200px;
}
